In [1]:
import pandas as pd

In [2]:
students = pd.DataFrame({
    'student_id': [1, 2, 3],
    'name': ['Amit', 'Neha', 'Raj']
})

In [4]:
scores = pd.DataFrame({
    'student_id': [1, 2, 4],
    'score': [85, 90, 78]
})

In [5]:
merged = pd.merge(students, scores, on='student_id', how='inner')
print(merged)

   student_id  name  score
0           1  Amit     85
1           2  Neha     90

In [6]:
df1 = pd.DataFrame({'A': ['A0', 'A1'], 'B': ['B0', 'B1']})
df2 = pd.DataFrame({'A': ['A2', 'A3'], 'B': ['B2', 'B3']})

In [7]:
result = pd.concat([df1, df2])
print(result)

    A   B
0  A0  B0
1  A1  B1
0  A2  B2
1  A3  B3

In [8]:
data = pd.DataFrame({
    'Department': ['IT', 'HR', 'HR', 'IT', 'Sales'],
    'Gender': ['M', 'F', 'F', 'F', 'M'],
    'Salary': [60000, 50000, 55000, 65000, 70000]
})

In [9]:
pivot = pd.pivot_table(data, values='Salary', index='Department', columns='Gender', aggfunc='mean')
print(pivot)

Gender            F        M
Department
HR          52500.0      NaN
IT          65000.0  60000.0
Sales           NaN  70000.0